@font-face {
  font-family: 'icomoon';
  src:
    url('../icons/icomoon.ttf') format('ttf'),
    url('../icons/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--1-14:before {
  content: "\e907";
  font-size: 120px;
}
.icon--1-13:before {
  content: "\e908";
  font-size: 120px;
}
.icon---1-11:before {
  content: "\e909";
  font-size: 120px;
}
.icon--1-12:before {
  content: "\e90a";
  font-size: 120px;
}
.icon---1-1:before {
  content: "\e90b";
  font-size: 120px;
}
.icon--1-11:before {
  content: "\e90c";
  font-size: 120px;
}
.icon--1-1:before {
  content: "\e90d";
  font-size: 120px;
}
.icon-Tilda_Icons_7cafe_map:before {
  content: "\e900";
}
.icon-Tilda_Icons_11mu_clock:before {
  content: "\e901";
}
.icon-tray:before {
  content: "\e902";
}
.icon-email-svgrepo-com:before {
  content: "\e903";
  font-size:55px;
}
.icon-instagram-svgrepo-com:before {
  content: "\e904";
  font-size:45px;
}
.icon-logo-1:before {
  content: "\e905";
}
.icon-phone-svgrepo-com:before {
  content: "\e906";
  font-size:45px;
}
